@font-face {
  font-family: 'adv';
  src: url("../fonts/adventor-bold.eot");
  src: url("../fonts/adventor-bold.eot?#iefix") format('embedded-opentype'), url("../fonts/adventor-bold.woff") format('woff'), url("../fonts/adventor-bold.ttf") format('truetype'), url("../fonts/adventor-bold.svg#texgyreadventorbold") format('svg');
  font-weight: bold;
  font-style: normal;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #eee;
  padding: 3%;
}
a {
  outline: none;
}
h1,
h2 {
  font-family: 'adv', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -0.2rem;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  -ms-transition: color 0.1s;
  transition: color 0.1s;
}
.button {
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  color: #eee;
  font-size: 1.9rem;
  padding: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
}
#info .cover,
#meta .cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#info h1,
#info h2 {
  color: #fff;
  font-size: 3.3rem;
  line-height: 1.1;
  font-family: 'adv', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#info .cover {
  background-image: url("../images/d.svg");
  color: #fff;
}
#info:hover h2 {
  color: #fff !important;
}
#meta .cover {
  background-image: url("../images/m.svg");
}
#meta .cover > div {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#meta:hover .cover {
  background-color: rgba(255,255,255,0.9) !important;
}
#meta .button {
  color: #fff;
  margin-bottom: 1rem;
  width: 50%;
  float: right;
  position: relative;
  font-size: 1.8rem;
  text-align: right;
  -webkit-transition: -webkit-transform 0.2s, background-color 1s;
  -moz-transition: -moz-transform 0.2s, background-color 1s;
  -o-transition: -o-transform 0.2s, background-color 1s;
  -ms-transition: -ms-transform 0.2s, background-color 1s;
  transition: transform 0.2s, background-color 1s;
}
#meta .button:last-child {
  margin-bottom: 0;
}
#meta .button:hover {
  -webkit-transform: translate3d(-1rem, 0, 0);
  -moz-transform: translate3d(-1rem, 0, 0);
  -o-transform: translate3d(-1rem, 0, 0);
  -ms-transform: translate3d(-1rem, 0, 0);
  transform: translate3d(-1rem, 0, 0);
}
#grid {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  text-align: center;
}
#grid > * {
  width: 26rem;
  height: 26rem;
  margin: 1rem;
  display: inline-block;
  -webkit-perspective: 100rem;
  -moz-perspective: 100rem;
  -ms-perspective: 100rem;
  perspective: 100rem;
  -webkit-transition: -webkit-transform, 0.3s;
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  -ms-transition: -ms-transform, 0.3s;
  transition: transform, 0.3s;
}
#grid > * > div {
  width: 26rem;
  height: 26rem;
  overflow: hidden;
  outline: 1px solid transparent;
  background-color: #fff;
}
#grid > *:hover {
  -webkit-transform: translate3d(0, 0, -1.2rem);
  -moz-transform: translate3d(0, 0, -1.2rem);
  -o-transform: translate3d(0, 0, -1.2rem);
  -ms-transform: translate3d(0, 0, -1.2rem);
  transform: translate3d(0, 0, -1.2rem);
}
#grid > *:hover .cover {
  background-color: rgba(255,255,255,0.5);
  -webkit-transition-duration: 0.2s !important;
  -moz-transition-duration: 0.2s !important;
  -o-transition-duration: 0.2s !important;
  -ms-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;
}
#grid > *:hover h2 {
  color: #555;
}
.cover,
.image {
  width: 26rem;
  height: 26rem;
  position: absolute;
  overflow: hidden;
}
.major > div {
  background-color: #fff !important;
}
.major .cover {
  color: #555 !important;
}
.cover {
  text-align: left;
  padding: 1rem;
  font-size: 3.2rem;
  line-height: 1;
  background-color: rgba(255,255,255,0.8);
  z-index: 1;
  text-transform: lowercase;
}
.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#oridomi-link .image {
  background-image: url("../images/oridomi0.gif");
}
#pozaic-link .image {
  background-image: url("../images/pozaic0.gif");
}
#chaincal-link .image {
  background-image: url("../images/chaincal0.gif");
}
#hexaflip-link .image {
  background-image: url("../images/hexaflip0.gif");
}
#maskew-link .image {
  background-image: url("../images/maskew0.gif");
}
#turingtype-link .image {
  background-image: url("../images/turing0.gif");
}
#perma {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  color: #fff;
  padding: 0 1rem;
  overflow: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.no-js #perma {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
body.perma {
  overflow: hidden !important;
}
body.perma #perma {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body.perma #grid {
  pointer-events: none;
}
#x {
  text-decoration: none;
  height: 4.5rem;
  font-size: 9.8rem;
  line-height: 0.4;
  text-align: center;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  position: absolute;
  color: rgba(0,0,0,0.5);
  underline: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  top: 1.4rem;
  right: -0.7rem;
}
#x:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#perma-content {
  margin: 0 auto;
  clear: both;
  max-width: 800px;
  padding: 1rem 0;
  padding-bottom: 7rem;
  position: relative;
}
#perma-content > div {
  display: none;
}
#perma-content > div.active {
  display: block;
}
#perma-content h1 {
  line-height: 1;
  margin-bottom: 1rem;
  font-size: 6rem;
  word-wrap: break-word;
  width: 81%;
}
#perma-content h2 {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  line-height: 1.1;
  color: rgba(0,0,0,0.5);
  letter-spacing: -0.1rem;
  max-width: 60rem;
}
#perma-content p {
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.5;
  background-color: #fff;
  color: #444;
  padding: 1rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(255,255,255,0.95);
  margin: 2rem 0;
  float: left;
}
#perma-content p a {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  padding: 0 0.3rem;
}
#perma-content .button {
  color: rgba(0,0,0,0.5);
  float: left;
  outline: 0.3rem solid rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0);
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  -ms-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  margin-left: 0.3rem;
  margin-bottom: 1.3rem;
}
#perma-content .button:hover {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.images {
  margin-bottom: 2.6rem;
}
.images img {
  width: 49%;
  padding: 1rem;
  background-color: #fff;
}
.images img:first-child {
  margin-right: 2%;
}
.buttons {
  width: 100%;
  float: left;
  margin-top: 0.5rem;
}
.buttons .button:first-child {
  margin-left: 0;
}
.tools {
  margin: 2.5rem 0;
  font-family: monospace;
  line-height: 1;
  font-size: 1.8rem;
  letter-spacing: -0.1rem;
}
@media only screen and (max-width: 600px) {
  .images img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .images img:last-child {
    margin-bottom: 0;
  }
  #perma-content {
    padding-bottom: 15rem;
  }
  #perma-content h1 {
    font-size: 5rem;
  }
  #x {
    font-size: 8.2rem;
  }
}
.touch #grid > *:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.touch #grid > *:hover .image {
  filter: $grayFilter !important;
  filter: #808080 !important;
  -webkit-filter: grayscale(100%) !important;
}
.touch .cover {
  background-color: rgba(255,255,255,0.6);
}
#perma {
  -webkit-transition: background-color 1s, opacity 0.15s;
  -moz-transition: background-color 1s, opacity 0.15s;
  -o-transition: background-color 1s, opacity 0.15s;
  -ms-transition: background-color 1s, opacity 0.15s;
  transition: background-color 1s, opacity 0.15s;
}
#info .cover,
#info:hover .cover {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.cover {
  -webkit-transition: color 1s, opacity 0.2s;
  -moz-transition: color 1s, opacity 0.2s;
  -o-transition: color 1s, opacity 0.2s;
  -ms-transition: color 1s, opacity 0.2s;
  transition: color 1s, opacity 0.2s;
}
#perma-content p a {
  -webkit-transition: background-color 1s, outline-color 1s, outline-width 0.2s;
  -moz-transition: background-color 1s, outline-color 1s, outline-width 0.2s;
  -o-transition: background-color 1s, outline-color 1s, outline-width 0.2s;
  -ms-transition: background-color 1s, outline-color 1s, outline-width 0.2s;
  transition: background-color 1s, outline-color 1s, outline-width 0.2s;
}
body #info .cover {
  background-color: #0baadc;
}
body #info:hover .cover {
  background-color: #0baadc !important;
}
body .cover {
  color: #0baadc;
}
body #meta .button {
  background-color: #0baadc;
}
body #grid .major:hover h2 {
  color: #0baadc;
}
body #perma {
  background-color: rgba(11,170,220,0.95);
}
body #perma-content p a {
  background-color: rgba(11,170,220,0.95);
  outline: 0px solid rgba(11,170,220,0.95);
}
body #perma-content p a:hover {
  outline: 6px solid rgba(11,170,220,0.95);
}
.color0 #info .cover {
  background-color: #0baadc;
}
.color0 #info:hover .cover {
  background-color: #0baadc !important;
}
.color0 .cover {
  color: #0baadc;
}
.color0 #meta .button {
  background-color: #0baadc;
}
.color0 #grid .major:hover h2 {
  color: #0baadc;
}
.color0 #perma {
  background-color: rgba(11,170,220,0.95);
}
.color0 #perma-content p a {
  background-color: rgba(11,170,220,0.95);
  outline: 0px solid rgba(11,170,220,0.95);
}
.color0 #perma-content p a:hover {
  outline: 6px solid rgba(11,170,220,0.95);
}
.color1 #info .cover {
  background-color: #ff585a;
}
.color1 #info:hover .cover {
  background-color: #ff585a !important;
}
.color1 .cover {
  color: #ff585a;
}
.color1 #meta .button {
  background-color: #ff585a;
}
.color1 #grid .major:hover h2 {
  color: #ff585a;
}
.color1 #perma {
  background-color: rgba(255,88,90,0.95);
}
.color1 #perma-content p a {
  background-color: rgba(255,88,90,0.95);
  outline: 0px solid rgba(255,88,90,0.95);
}
.color1 #perma-content p a:hover {
  outline: 6px solid rgba(255,88,90,0.95);
}
.color2 #info .cover {
  background-color: #df5a95;
}
.color2 #info:hover .cover {
  background-color: #df5a95 !important;
}
.color2 .cover {
  color: #df5a95;
}
.color2 #meta .button {
  background-color: #df5a95;
}
.color2 #grid .major:hover h2 {
  color: #df5a95;
}
.color2 #perma {
  background-color: rgba(223,90,149,0.95);
}
.color2 #perma-content p a {
  background-color: rgba(223,90,149,0.95);
  outline: 0px solid rgba(223,90,149,0.95);
}
.color2 #perma-content p a:hover {
  outline: 6px solid rgba(223,90,149,0.95);
}
