@import 'nib'

$helv     = 'Helvetica Neue', Helvetica, Arial, sans-serif
$serif    = Georgia, Times, 'Times New Roman', serif
$advBold  = 'Adventor Bold', $helv
$bgColor  = #f3f3f3
$red      = #f77070
$boxSize  = 26rem
$blue     = rgba(75, 155, 228, 0.95)
$violet   = rgba(155, 75, 228, 0.95)
$aqua     = rgba(75, 228, 216, 0.95)


@font-face
  font-family: 'Adventor Bold'
  src: url('../fonts/adventor-bold.eot')
  src: url('../fonts/adventor-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adventor-bold.woff') format('woff'),
       url('../fonts/adventor-bold.ttf') format('truetype'),
       url('../fonts/adventor-bold.svg#texgyreadventorbold') format('svg')
  font-weight: bold
  font-style: normal


::-moz-selection
  background: #444
  color: #fff
  text-shadow: none


::selection
  background: #444
  color: #fff
  text-shadow: none


*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


html
  font-size: 10px
  font-family: $helv
  text-rendering: optimizeLegibility
  font-smoothing: antialiased


body
  background-color: $bgColor
  padding-bottom: 5rem


a
  outline: none


h1, h2
  font-family: $advBold
  letter-spacing: -0.2rem


.button
  display: inline-block
  background-color: rgba(0, 0, 0, .6)
  color: $bgColor
  font-size: 1.8rem
  padding: 0.8rem
  margin-right: 1rem
  margin-bottom: 1rem
  font-weight: bold
  cursor: pointer
  transition: background-color .3s
  text-decoration: none


#info
  h1
    font-size: 3.6rem

  h2
    margin-bottom: 2rem
    color: rgba(0, 0, 0, .2)
    color: #fff
    font-weight: 200
    font-size: 3rem

  .cover
    background-color: $red
    background-image: url('../images/d.svg')
    color: #fff

  &:hover
    .cover
      background-color: $red !important


#meta
  .cover
      background-image: url('../images/m.svg')

  .button
    color: #fff
    background-color: rgba(0, 0, 0, .6)
    margin-bottom: 1rem
    width: 70%
    float: right
    position: relative
    top: 7rem
    font-size: 1.6rem
    text-align: right

    &:hover
      background-color: rgba(0, 0, 0, .4)


#grid
  text-align: center

  > *
    width: $boxSize
    height: $boxSize
    margin: 1rem
    display: inline-block
    perspective: 100rem
    transition: transform, .3s

    > div
      width: $boxSize
      height: $boxSize
      overflow: hidden
      outline: 1px solid transparent

    &:hover
      .image
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale")
        -webkit-filter: none


.cover, .image
  width: $boxSize
  height: $boxSize
  position: absolute
  overflow: hidden


.major .cover
  color: #444


.cover
  text-align: left
  padding: 1rem
  font-size: 3rem
  line-height: 1
  background-color: rgba(255, 255, 255, .7)
  color: $red
  z-index: 1
  text-transform: lowercase


.image
  background-size: cover
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
  filter: gray

@css {
  .image {
    -webkit-filter: grayscale(100%);
  }
}


#oridomi-link .image
  background-image: url('../images/oridomi0.gif')

#pozaic-link .image
  background-image: url('../images/pozaic2.gif')

#chaincal-link .image
  background-image: url('../images/chaincal0.gif')

#hexaflip-link .image
  background-image: url('../images/hexaflip0.gif')

#maskew-link .image
  background-image: url('../images/maskew0.gif')

#turingtype-link .image
  background-image: url('../images/turing0.gif')


#perma
  background-color: rgba(247, 112, 112, 0.95)
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 100%
  pointer-events: none
  color: #fff
  padding: 0 1rem
  overflow: auto
  opacity: 0
  transition: opacity .2s

.no-js #perma
  transition: none !important


body.perma
  overflow: hidden !important

  #perma
    opacity: 1
    pointer-events: auto
    overflow-scrolling: touch

  #grid
    pointer-events: none

$permaDark = rgba(0, 0, 0, .5)

#x
  text-decoration: none
  height: 4.5rem
  font-size: 7rem
  line-height: .4
  text-align: center
  transition: color .2s
  position: absolute
  right: 0
  color: $permaDark
  underline: none

  &:hover
    color: $permaDark


#perma-content
  margin: 0 auto
  clear: both
  max-width: 800px
  padding: 1rem 0
  padding-bottom: 7rem

  > div
    display: none

    &.active
      display: block

  h1
    line-height: 1
    margin-bottom: 1rem
    font-size: 6rem

  h2
    font-size: 3.2rem
    margin-bottom: 2rem
    line-height: 1.1
    max-width: 600px
    color: $permaDark
    letter-spacing: -0.1rem

  p
    font-size: 2.4rem
    font-weight: 200
    max-width: 600px
    line-height: 1.5
    background-color: #fff
    color: #444
    padding: 1rem
    font-family: $serif
    background-color: rgba(255, 255, 255, .95)
    margin-bottom: 2rem

  a
    color: #F77070

    &:hover
      text-decoration: none


  .button
    color: $permaDark
    float: left
    outline: .3rem solid $permaDark
    background-color: rgba(0, 0, 0, 0)
    transition: color .2s, background-color .2s

    &:hover
      background-color: $permaDark
      color: #fff


.images
  margin-bottom: 2rem

  img
    width: 49%
    padding: 1rem
    background-color: #fff

    &:first-child
      margin-right: 2%


.buttons .button:first-child
  margin-left: 0


.tools
  margin: 2.5rem 0
  font-family: monospace
  line-height: 1
  font-size: 1.6rem
  letter-spacing: -0.1rem


@media only screen and (max-width: 600px)
  .images img
    width: 100%
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0

  #perma-content
    padding-bottom: 10rem

