::-moz-selection{
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection{
    background: #444;
    color: #fff;
    text-shadow: none;
}

body{
    font-size: 100%;
    padding: 3% 5%;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, Times, FreeSerif, serif;
    color: #444;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a{
    color: #666;
    text-decoration: none;
}

.prima{
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    width: 25rem;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    padding: 1.5rem 0.5rem;
    margin-bottom: 1.2rem;
    background-color: #eee;
    color: #666;
}

.prima > h1{
    font-weight: 900;
    font-size: 7rem;
    line-height: .5;
    letter-spacing: -6px;
}

h4{
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
    color: #777;
}

h4 > a{
    border-bottom: 1px #ddd dotted;
    color: #111;
}
h4 > a:hover{
    color: #333;
}

h2{
    font-size: 1.8rem;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    color: #555;
    letter-spacing: -1px;
}
h3{
    margin-bottom: 1.25rem;
    border-bottom: 1px #ddd dotted;
    letter-spacing: -2px;
}
#works{
    font-size: 1.25rem;
    list-style: none;
    margin-bottom: 2.5rem
}
#works > li{
    line-height: 2;
    margin-bottom: 4rem;
}
.chaincal > img{
    width: 100%;
    max-width: 1032px;
}

.oridomi > img{
    width: 100%;
    display: block;
    max-width: 343px;
}

.oridomi > img:last-child{
    max-width: 425px;
}

.maskew > img{
    width: 100%;
    max-width: 708px;
}

p{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

#contact li{
    line-height: 2;
}

#contact a:hover{
    text-decoration: underline;
}
