$bodySize: 1.6rem
$headerFont: 'Space Grotesk', sans-serif
$bodyFont: 'Space Mono', monospace

@mixin mobile
  @media (max-width: 700px)
    @content

@mixin touch
  @media (hover: none)
    @content

@mixin mouse
  @media (hover: hover)
    @content

:root
  --color-body: #000
  --color-bg: #d8d8d8
  --color-accent: #0000ff

  @media (prefers-color-scheme: dark)
    --color-body: #fff
    --color-bg: #0e0e0e
    --color-accent: #6400ff

*
  box-sizing: border-box
  margin: 0
  padding: 0
  -webkit-tap-highlight-color: transparent

::selection
  background: var(--color-body)
  color: var(--color-bg)

html
  font-family: $bodyFont
  font-size: 10px
  font-variant-ligatures: no-common-ligatures
  color: var(--color-body)
  background: var(--color-bg)

body
  max-width: 1200px
  margin: 0 auto

main
  height: 0
  margin-top: 2rem

main, header
  padding: 3rem

a
  color: inherit

  &:hover
    color: var(--color-accent)

button
  appearance: none
  color: var(--color-body)
  border: none
  background: none
  cursor: pointer

  &:focus-visible
    outline: none

    h3
      color: var(--color-accent)
      opacity: 1 !important

header
  *
    font-size: $bodySize
    font-weight: 100

.project
  padding-bottom: 100vh
  transition: transform .333s

  &:last-child
    padding-bottom: 80vh

  h2
    font-family: $headerFont
    font-size: clamp(3rem, 10vw, 15rem)
    letter-spacing: -.05em
    margin-right: 2vw
    will-change: font-weight, opacity
    white-space: nowrap

    @include mobile
      font-size: clamp(3rem, 14vw, 15rem)

    &.active
      @include touch
        color: var(--color-accent)

    &.tween
      transition: all .3s

  h3
    font-weight: 100
    font-size: clamp(2rem, 2.1vw, 3rem)
    max-width: 70rem

  > button
    width: 100%
    text-align: left

    @include mouse
      &:hover
        h2
          color: var(--color-accent)
          opacity: 1

  p
    font-size: $bodySize
    max-width: 60rem
    line-height: 1.8

    + p
      margin-top: 2.2rem

.isResizing .project
  transition: none

.content
  position: absolute
  font-size: 1.5rem
  width: 100%
  opacity: 0
  overflow: hidden
  transition: opacity .333s
  padding: 0vw 0.5vw
  padding-bottom: 4vw

  &.active
    opacity: 1

    hr
      width: 100%

  hr
    width: 0
    will-change: width
    transition: width .333s
    transition-delay: .2s
    background: none
    border: none
    border-bottom: 1px dashed var(--color-body)
    margin-top: 8vw

.images
  margin-top: 2rem
  margin-bottom: 5rem
  display: flex
  flex-wrap: wrap
  gap: 2rem

  div
    width: 100%
    max-width: 50rem
    font-size: 0
    background: var(--color-bg)

  img, video
    width: 100%
    height: auto

video::-webkit-media-controls-enclosure
  display: none

.links
  margin: 3rem 0
  margin-bottom: 4rem
  display: flex
  flex-wrap: wrap
  gap: 1.4rem

  a
    background: var(--color-accent)
    color: var(--color-bg)
    text-decoration: none
    font-size: 1.2em
    padding: 0.6em 1em
    white-space: nowrap
    transition: transform .333s

    @media (prefers-color-scheme: dark)
      color: var(--color-body)

    &::after
      content: '↗'
      margin-left: 0.5em
      position: relative
      top: -0.1em

    &:hover
      background: var(--color-body)
      transform: translateY(-2px)

      @media (prefers-color-scheme: dark)
        color: var(--color-bg)

.fontCache
  font-family: $headerFont
  visibility: hidden

.e404
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  h1
    font-size: 20vw
    font-weight: 300
    font-family: $headerFont

  span
    animation: pulse 1.2s infinite alternate

  a
    font-size: $bodySize

@keyframes pulse
  from
    font-weight: 300

  to
    font-weight: 700
