doctype
html(lang='en')
  head
    include common
    title 404
    
  body#error-404
    nav#grid
      a(href='/')
        pre
          | $$\   $$\ 
          | $$ |  $$ |
          | $$ |  $$ |
          | $$$$$$$$ |
          | \_____$$ |
          |       $$ |
          |       $$ |
          |       \__|

      a(href='/')
        pre
          |  $$$$$$\  
          | $$$ __$$\ 
          | $$$$\ $$ |
          | $$\$$\$$ |
          | $$ \$$$$ |
          | $$ |\$$$ |
          | \$$$$$$  /
          |  \______/ 

      a(href='/')
        pre
          | $$\   $$\ 
          | $$ |  $$ |
          | $$ |  $$ |
          | $$$$$$$$ |
          | \_____$$ |
          |       $$ |
          |       $$ |
          |       \__|
