doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='author', content='Dan Motzenbecker')
    link(href='/assets/css/oxism.css?v=' + hashes.style, rel='stylesheet', type='text/css')
    link(href='/assets/images/favicon.png', rel='icon', type='image/png')
    link(href='/assets/images/favicon-152.png', rel='apple-touch-icon-precomposed')
    title 404
    
  body#error-404
    nav#grid
      a(href='/')
        pre
          | $$\   $$\ 
          | $$ |  $$ |
          | $$ |  $$ |
          | $$$$$$$$ |
          | \_____$$ |
          |       $$ |
          |       $$ |
          |       \__|

      a(href='/')
        pre
          |  $$$$$$\  
          | $$$ __$$\ 
          | $$$$\ $$ |
          | $$\$$\$$ |
          | $$ \$$$$ |
          | $$ |\$$$ |
          | \$$$$$$  /
          |  \______/ 

      a(href='/')
        pre
          | $$\   $$\ 
          | $$ |  $$ |
          | $$ |  $$ |
          | $$$$$$$$ |
          | \_____$$ |
          |       $$ |
          |       $$ |
          |       \__|
