@import 'nib'

$helv       = 'Helvetica Neue', Helvetica, Arial, sans-serif
$serif      = Georgia, Times, 'Times New Roman', serif
$mono       = Consolas, 'Lucida Console', 'DejaVu Sans Mono', Monaco, 'Courier New', monospace
$advBold    = 'adv', $helv
$boxSize    = 26rem
$bgColor    = #eee
$cycleSpeed = 1s
$gold       = #e3ba7a
$teal       = #35d2d8
$blue       = #0baadc
$red        = #ff585a
$pink       = #df5a95


@font-face
  font-family 'adv'
  src url('../fonts/adventor-bold.eot')
  src url('../fonts/adventor-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/adventor-bold.woff') format('woff'),
      url('../fonts/adventor-bold.ttf') format('truetype'),
      url('../fonts/adventor-bold.svg#texgyreadventorbold') format('svg')
  font-weight bold
  font-style normal


::-moz-selection
  background #444
  color #fff
  text-shadow none


::selection
  background #444
  color #fff
  text-shadow none


*
  margin 0
  padding 0
  box-sizing border-box
  -webkit-tap-highlight-color rgba(#000, 0)


html
  font-size 9px
  font-family $helv
  text-rendering optimizeLegibility
  font-smoothing antialiased


body
  background-color $bgColor
  padding 3%
  position relative


a
  outline none


h1, h2
  font-family $advBold
  letter-spacing -0.2rem
  transition color .1s


.button, .buttons a
  display inline-block
  background-color rgba(#000, .6)
  color $bgColor
  font-size 1.9rem
  padding 0.8rem
  margin-right 1rem
  margin-bottom 1rem
  font-weight bold
  cursor pointer
  transition background-color .3s
  text-decoration none


#info, #meta
  .cover
    background-size cover


#info

  h1, h2
    color #fff
    font-size 3.3rem
    line-height 1.1
    font-family $advBold

  .cover
    background-image url('../images/d.svg')
    background-color #35D2D8 !important
    color #fff

  &:hover
    h2
      color #fff !important


#meta
  .cover
    background-image url('../images/m.svg')

    > div
      float right
      position relative
      top 50%
      transform translateY(-50%)

  &:hover
    .cover
      background-color rgba(#fff, .9) !important

  .button
    color #fff
    margin-bottom 1rem
    width 50%
    float right
    position relative
    font-size 1.8rem
    text-align right
    transition transform .2s
    background-color $gold

    &:last-child
      margin-bottom 0

    &:hover
      transform translate3d(-1rem, 0, 0)


#grid
  perspective 1000px
  text-align center

  > *
    width $boxSize
    height $boxSize
    margin 1rem
    display inline-block
    perspective 100rem
    transition transform, .3s
    color $gold

    > div
      width $boxSize
      height $boxSize
      overflow hidden
      outline 1px solid transparent
      background-color #fff

    &:hover
      transform translate3d(0, 0, -1.2rem)

      .cover
        background-color rgba(#fff, .5)
        transition-duration .2s !important

      h2
        color #555


.cover, .image
  width $boxSize
  height $boxSize
  position absolute
  overflow hidden


.major
  > div
    background-color #fff
    color #555

  &:hover h2
    color transparent !important


.cover
  text-align left
  padding 1rem
  font-size 3.2rem
  line-height 1
  background-color rgba(#fff, .8)
  z-index 1
  text-transform lowercase


.image
  background-size cover


#oridomi-link .image
  background-image url('../images/oridomi0.gif')

#pozaic-link .image
  background-image url('../images/pozaic0.gif')

#exifexodus-link .image
  background-image url('../images/exifexodus0.gif')

#chaincal-link .image
  background-image url('../images/chaincal0.gif')

#hexaflip-link .image
  background-image url('../images/hexaflip0.gif')

#maskew-link .image
  background-image url('../images/maskew0.gif')

#turingtype-link .image
  background-image url('../images/turing0.gif')


#perma
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  pointer-events none
  color #fff
  padding 0 1rem
  overflow auto
  opacity 0
  background-color rgba(240, 240, 240, .97)


.no-js #perma
  transition none !important


body.perma
  overflow hidden !important

  #perma
    opacity 1
    pointer-events auto
    overflow-scrolling touch
    z-index 99

  #grid
    pointer-events none


$permaDark = rgba(#000, .5)

#x
  text-decoration none
  height 4.5rem
  font-size 9.8rem
  line-height .4
  text-align center
  transition color .2s
  position absolute
  color $permaDark
  underline none
  transition opacity .2s
  top 1.4rem
  right -0.7rem

  &:hover
    opacity .5


.content
  background-color #fff
  padding 2.5rem
  font-family $serif
  width 100%
  float left

  hr
    width 100%
    margin-bottom 3rem
    border 0
    border-bottom 1px solid #999

  p, pre, h2, h3, ul
    float left
    width 100%
    margin-bottom 3rem
    color #444 !important

  ul
    padding-left 5rem

  li
    float left
    width 100%
    font-size 2.4rem
    line-height 1.6
    text-indent 2rem

  h2, h3
    font-size 4rem
    line-height 1.9
    margin-bottom 1rem
    font-family: 'Playfair Display', $serif

  p
    font-size 2.4rem
    font-weight 200
    line-height 1.6

    &:last-of-type
      margin-bottom 0

    a
      color $gold
      border-bottom 1px dashed #777
      text-decoration none
      padding 0 .3rem

      &:hover
        color $teal !important


  code
    background-color #efefef
    padding .5rem
    font-family $mono
    font-size 1.8rem


pre
  background #efefef
  padding 1.5rem
  line-height 1.5
  overflow scroll
  font-family $mono


#perma-content
  margin 0 auto
  clear both
  max-width 800px
  padding 1rem 0
  padding-bottom 7rem
  position relative

  > div
    display none

    &.active
      display block

  h1
    line-height 1
    margin-bottom 1rem
    font-size 6rem
    word-wrap break-word
    width 81%
    color $gold

  h2
    font-size 3.2rem
    margin-bottom 2.4rem
    line-height 1.1
    color $permaDark
    letter-spacing -0.1rem
    max-width 60rem

  .buttons a
    color $gold
    float left
    outline .3rem solid $gold
    background-color rgba(#000, 0)
    transition color .2s, background-color .2s
    margin-left .3rem
    margin-bottom 1.3rem


    &:hover
      background-color $gold
      color #fff


.images
  margin-bottom 2.6rem
  float left

  img
    width 49%
    float left
    padding 1rem
    background-color #fff

    &:first-child
      margin-right 2%


.buttons
  width 100%
  float left
  margin-top .5rem
  margin-bottom 1.5rem

  :first-child
    margin-left 0


.tools
  margin 3.5rem 0
  font-family $mono
  line-height 1
  font-size 1.8rem
  letter-spacing -0.1rem
  float left
  color #999


@media only screen and (max-width 600px)
  .images img
    width 100%
    margin-bottom 1rem

    &:last-child
      margin-bottom 0

  #perma-content
    padding-bottom 15rem

    h1
      font-size 5rem

  #x
    font-size 8.2rem

  .content
    padding 1.5rem


.touch
  #grid > *:hover
    transform none

  .cover
    background-color rgba(#fff, .6)


#perma
  transition opacity .15s
  z-index 0

.cover
  transition color $cycleSpeed, opacity .2s


